In [1]:
import json

In [2]:
# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

In [3]:
def get_companies_with_employee_nationality(employee_list, company_list):
    result = []

    for company in company_list:
        company_name = company['name']
        nationality_count = {}

        for employee in employee_list:
            if employee['company'] == company_name:
                nationality = employee['nationality']
                nationality_count[nationality] = nationality_count.get(nationality, 0) + 1

        result.append({
            "company": company_name,
            "employee_nationality": nationality_count
        })

    return result

In [4]:
companies_with_nationality = get_companies_with_employee_nationality(employee_detail_list, company_detail_list)

In [5]:
formatted_output = json.dumps(companies_with_nationality, indent=4)

In [6]:
print(formatted_output)

[
    {
        "company": "Company 1",
        "employee_nationality": {
            "Australia": 2,
            "United Kingdom": 1
        }
    },
    {
        "company": "Company 2",
        "employee_nationality": {
            "United States": 1,
            "Hong Kong": 1
        }
    },
    {
        "company": "Company 3",
        "employee_nationality": {
            "United States": 2
        }
    }
]